#main-container{
    width: 70%;
    margin:0 auto;
    padding:20px;


}
#form-title{
    padding-left: 20px;
}
#blog-data-table{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;

}
#options-container{
    background-color: rgb(231, 172, 233);
    padding: 20px;
}
#options-table {
    width: 80%;
    padding-bottom: 20px;

}

tr{
    height:30px;
}
td{
    width: 100px
}


textarea{
    width: 90%;
    height:50%;

}
#seo-container{

    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;

}
#preview-button{
    padding: 10px;
    width: 150px;

}
#meta-desc{
    width: 350px;
    

}
